<table class = "datos_e">
	<tr >
		<th class="flow-text">Nombre</th>
		<th class="flow-text">Cedula</th>
		<th class="flow-text">Contacto</th>
		<th class="flow-text">Email</th>
		<th class="flow-text"></th>
	</tr>
	<tr>
		<td>Edson Alvarez Obando</td>
		<td>208100500</td>
		<td>62563453</td>
		<td>ealvarezo@est.utn.ac.cr</td>
		<td>
			<button routerLink="/evaluacion-estudiante" routerLinkActive="active" href="#!" class="btn waves-effect waves-green">Evaluar Estudiante
			</button>
		</td>
	</tr>

</table>
<router-outlet></router-outlet>

